.login-container{
  width:430px ;
  background-color: azure;
  margin: 30px auto ;
  padding: 20px 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(85, 149, 84);
}
.loginbtn{

    width: 180px;
    display: block;
    margin: 20px ;
    margin-left: 100px;
    font-size: 16px;
    /* padding: 8px 10px; */
    border-radius:5px ;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
  
}
.heading-signup{
  margin-left: 60px;
  text-decoration: none;
}

.login-form{
  background-color: #fff;
  width: 500px;
  align-items: center;
  margin: 30px auto;
  padding: 70px 50px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.login-link{
  text-decoration: none;
  margin-left: 30%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  /* text-align: center; */
  font-size: 18px;
}